body {
	background-color: cornsilk;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;

	#bigtitle {
		align-self: center;
		color: darkred;
		font-size: 40px;
		margin-top: 20px;
	}

	.add {
		display: flex;
		flex-direction: column;
		margin-left: 20%;

		#search {
			width: 45%;
			margin-top: 40px;
		}

		#bouton {
			width: 47%;
			margin-top: 20px;
		}
	}

	#title {
		display: flex;
		margin-left: 35%;
		margin-top: 50px;
		font-size: 30px;
		color: darkred;
	}
}
